{{if $.Page.Params.comments }}
<section>
  <div class="authorbox clearfix">
    <small>Archived comments</small>
    {{ range $.Page.Params.comments }}
    <div class="archived_comment">
	  <div class="authorbox__header">
	    <span class="archived_comment_username">{{ .user }}</span>
        {{ partial "svg/time.svg" (dict "class" "meta__icon") -}}
	    <time class="meta__text" }}>
		  {{- dateFormat "2006-01-02 15:04" .date  -}}
	    </time>
	  </div>
	  <div class="authorbox__description">
		{{ .body | safeHTML}}
	  </div>
    </div>
	{{ end }}

</div>
</section>
{{ end }}
