.logo {
    padding: 25px;
    background: url(/images/bg_timeout.jpg);
    height: 300px;
    background-size: cover;
}

.logo__title {
    font-size: 32px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    color: white;
    text-transform: none;
}

.archived_comment {
    font-size: smaller;
    background-color: #c7c7c72e;
    padding: 10px 5px 15px 15px;
}

.archived_comment_username {
    font-weight: bold;
}
