{{- $recent := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{- $recent_num := (.Site.Params.widgets.recent_num | default 10) }}

<div class="widget-recent widget">
	<h4 class="widget__title">about</h4>
	<div class="widget__content about_widget">
      <a class="widget__link" href="/about/">About me and this site</a></li>

    </div>
        <a class="twitter-timeline" data-width="300" data-height="500" href="https://twitter.com/k_nishijima?ref_src=twsrc%5Etfw">Tweets by k_nishijima</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        
</div>
